<div class="container" style="padding: 50px; background-color: #e8c06f; border-radius: 15px;">
  

  <%= form_with model: order do |form| %>
    <div>
      <%#= form.label :Name %> : <%#= @order. %>      
    </div>


    <div>
      <%= form.submit %>
    </div>

  <% end %>
</div>