<%= render "form", contact: @contact %>


<!-- <h1>new.html.erb</h1> -->
<!-- <head>
	<style type="text/css">
    .fa {
      /*padding: 10px;*/
      font-size: 30px;
      width: 30px;
      text-align: center;
      text-decoration: none;
      margin: 5px 2px;
    }

    .fa:hover {
        opacity: 0.7;
    }

    .fa-facebook {
      background: #3B5998;
      color: white;
      margin-left: 5px;
      border-radius: 15px;
      animation: bounce;
      animation-duration: 0.5s;
    }

    .fa-twitter {
      background: #55ACEE;
      color: white;
      margin-left: 5px;
      border-radius: 30px;
      animation: bounce;
      animation-duration: 1s;
    }

    .fa-google {
      background: #dd4b39;
      color: white;
      margin-left: 5px;
      border-radius: 30px;
      animation: bounce;
      animation-duration: 1.5s;
    }

    .fa-linkedin {
      background: #007bb5;
      color: white;
      margin-left: 5px;
      /*border-radius: 30px;*/
      animation: bounce;
      animation-duration: 2s;
    }

    .fa-instagram {
      background: #125688;
      color: white;
      animation: bounce;
      animation-duration: 2.5s;
    }

	</style>
</head> -->
<!-- <body>
  <div id="contact" class="container-fluid" style="background-color: #e6e34c;">
    <h1 style="text-align: center; color: white;" class="animate__animated animate__bounceIn"><strong><i><u>Contact Us</u></i></strong>
    </h1>

    <div class="container">
      <div class="row">
      <div class="col-sm-6">



          <form style="border-radius: 4px;">
            <div class="mb-3">
            <label for="fname">First Name: </label><br>
            <input type="text" id="fname" name="firstname" placeholder="Enter your first name..">
            </div>

            <div class="mb-3">
            <label for="lname">Last Name: </label><br>
            <input type="text" id="lname" name="lastname" placeholder="Enter your last name..">
            </div>

            <div class="mb-3">
            <label for="lname">Email: </label><br>
            <input type="email" id="email" name="email" placeholder="Enter your email..">
            </div>

            <div class="mb-3">
              <label for="address">Address: </label><br>
              <input type="address" id="addr" name="youraddress" placeholder="Enter address here...">
            </div>
            
            <div class="mb-3">
              <label for="textarea">Any Suggetion: </label><br>
              <textarea style="box-sizing: border-box; border: 2px solid #ccc; border-radius: 4px; background-color: #f8f8f8; font-size: 16px; resize: none;" placeholder="Write Something here..."></textarea>
            </div>
            
            <input type="button" class="btn btn-success" onclick="hello()" value="Submit">
            
          </form>
        </div>


        <div class="col-sm-6">
          <h3>Address:</h3>
          <p>101, Ramnagar, Near by xyz hospital, Indore-452001, MP</p>
          <br>

          <h2>Contact Details:-</h2>
          <h3>Email:</h3>
          <p>xyz@littlestars.com</p>
          <br>

          <h3>Contact No.:</h3>
          <p>+91-***********</p>
          <br>

        </div>
        </div>
    </div>


    <div class="container">
      <center>
        <h4>Connect with us:</h4>
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-google"></a>
        <a href="#" class="fa fa-linkedin"></a>
        <a href="#" class="fa fa-instagram"></a>
      </center>
    </div>
    
    <br>
    <div class="container">
      <center>
        © 2022 littlestars.com All Rights Reserved. Powered By 
        <a href="#" target="_blank"> Shriffle IT Solutions.com.</a>
      </center>
    </div>
    <br>

  </div>
</body> -->
