<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<style type="text/css">
		button{
			border-radius: 10px;
		}
		/*.logsign{
			class
		}*/
	</style>
</head>

<body>
	<div style="background-color: #49edf2; width: 1900px; height: 1080px;">
		<h1 style="color: #edac2b; text-align: center; text-decoration-line: underline;">|| Welcome in Shopping Mart ||</h1>

		<br>
		<br>
		<center>
			<div>
				<button><h4><%= link_to "Log_in", user_session_path %> </h4></button>
			</div>
			<div>
				<button><h4><%= link_to "Sign_up", new_user_registration_path %></h4></button>
			</div>
		</center>
	</div>

</body>
</html>

