<body>
	<h1>Offers =></h1>

	<div class="container" style="background-color: lightskyblue;">
		<div class="row">
			<div class="col-sm-4">
				<h2 style="text-decoration-line: underline;">Offer. 1. </h2>
				<p style="font-family: cursive; font-size: 25pt;">Offer's Coming Soon*</p>
			</div>

			<div class="col-sm-4">
				<h2 style="text-decoration-line: underline;">Offer. 2. </h2>
				<p style="font-family: cursive; font-size: 25pt;">Offer's Coming Soon*</p>
			</div>			
		</div>
	</div>
	<br>
	<br>
	<br>

<!-- 	<% byebug %>
	<ul>
		<% Category.all.each do |category| %>
  		<li><%= link_to "category_name", products_path(category: category.name) %>
  			<% category.subcategories.each do |subcategory| %>
  				<li>
  					<%= link_to "subcategory_name", recipes_path(subcategory: subcategory.name)%>
  					<% end %>
  				</li>
  			<% end %>
  	</li>
  </ul> -->
</body>



